* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: solid 0px #000000;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 100px;
  text-decoration: underline;
    color: #000000;
}

h2 {
  text-decoration: underline;
    color: #2e2e2e;
}

h3 {
  text-decoration: underline;
    color: #606060;
}

h4 {
  text-decoration: underline;
    color: #a3a3a3;
}

h5 {
  text-decoration: underline;
    color: #b9b9b9;
}

h6 {
  text-decoration: underline;
    color: #d4d4d4;
}
p {
  color: #ffffff;
  font-style: bold;
}
a:link,
a:visited {
    color: #535353;
}

a:hover {
    color: #ffdada;
}

a:active {
    color: #ffffff;
}
.Ducks {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: solid 10px #ffffff;
  text-align: center;
  background-color: rgb(203, 0, 0);
  font-family: "Kdam Thmor Pro", Helvetica, sans-serif;
  line-height: 3.2;
}
.Bees {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: solid 10px #ffffff;
  height: 200%;
  font-size: 50px;
  line-height: 3;
  text-align: center;
  background-color: #000000;
  font-family: "Kdam Thmor Pro", Helvetica, sans-serif;
}
footer {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: solid 10px #ffffff;
  font-size: 30px;
  background-color: rgb(203, 0, 0);
  text-align: center;
  font-family: "Kdam Thmor Pro", Helvetica, sans-serif;
}
hr {
  background-color: #ffffff;height: 5px; width: 100%;
}