* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
    color: #FF0000;
}

h2 {
    color: #E60000;
}

h3 {
    color: #CC0000;
}

h4 {
    color: #B30000;
}

h5 {
    color: #990000;
}

h6 {
    color: #800000;
}
p {
  color: #0057D9;
}
Link {
  color: #00A6FB;
}
Link:hover {
  color: #FF3B30;
}
.Ducks {
  background-color: #fca05a;
}
.Bees {
  background-color: #97fff1;
}
.Foxes {
  background-color:#FFB703
}
